---
layout: default
---

{% if (page.header.overlay_color or page.header.overlay_image) or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <!-- sl360 ad banner start -->
      <div class="ad-top sl360-ad" style="margin-top: 10px; margin-right: 0; margin-left: 0; margin-bottom: 20px;">
        <a href="https://www.serverless360.com/lp/azure-serverless-operations-and-support?utm_source=maarten-blog&utm_medium=blog-top-cta">
          <img src="/images/ad-sl360.png" alt="serverless360" />
        </a>
      </div>
      <!-- sl360 ad banner end -->

      <!-- <div class="ad" data-type="ad" data-publisher="lqm.maartenballiauw.site" data-format="728x90" data-zone="top" ></div>-->

      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>